.pio
.vscode/
.DS_Store
*.swp
*.bak
*.orig
*.obj
*.o
*.a
*.lib
*.so
*.dylib
*.exe
*.bin
*.hex
archive/

# Album art (personal/copyright - do not commit)
scripts/input_albums/
scripts/sd_card_albums/
cyd/platformio/src/album_art/album_*.h

# User credentials
cyd/platformio/include/secrets.h
scripts/album_preview.png

# PlatformIO build artefacts
cyd/platformio/.pio/

# IDF build artefacts
cyd/esp-idf/build/
cyd/esp-idf/managed_components/
cyd/esp-idf/sdkconfig
cyd/esp-idf/sdkconfig.old
cyd/esp-idf/dependencies.lock
